body {
    background-image: url("../images/lava.jpg");
}

#canvas {
    width: 100%;
    max-width: 1000px;
}

h1, h2 {
    color: white;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

